h1 {
    text-align: left;
}

.contents {
    /* padding: 8px 200px; */
    text-align: left;
    max-width: 680px;
    width:85%;
    margin: auto;
}

.float {
    display: flex;
}

.image {
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

a:hover {
    color:#CE3B6C;
}

.figma {
    overflow: scroll;
}
