h1 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 0;
    z-index: -1;
}

@media(min-width: 1040px){
    .header {
        width: calc(85% + 80px);
        max-width: 940px;
    } 
}

@media (max-width: 1041px) {
    .header {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    h2:first-of-type {
        margin-top: 0;
    }
}